* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F8FF;  
}


/* font style */
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* header style */
header {
    padding: 0 150px;
    background-image: url(../Assets/Hero-bg.png);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.nav-title {
    color: #4E47FF;
    font-size: 34px;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 14px 36px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-primary:hover {
    background-image: linear-gradient(to right, #88aaf3, white);
    border: 2px solid #4E47FF;
    color: #252432;
    font-weight: bold;
}
/* banner style */

.banner {
    text-align: center;
    padding: 100px 120px 200px 120px;
}
.banner h1 {
    color: #252432;
    font-size: 65px;
    font-weight: bold;  
    margin-bottom: 37px; 
}


/* action section styles */
#action-section {
    margin: 0 150px;
    padding: 116px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-info {
    margin-right: 350px;  
}
.action-info h3 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px;
}
.action-info p {
    font-size: 24px;
    color: #252432;
    opacity: 50%;
    margin-bottom: 24px;
}
.action-image img {
    border-radius: 48px;
}

/* productive section style */

#productive-user-section {
    margin: 0 150px;
}

.productive-user{
    background-color: rgba(78, 71, 255, 0.1);
    /* opacity: 10%; */
    border-radius: 24px;
    padding: 50px 80px;
    text-align: center;
}
.productive-big-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.productive-user h3 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}
.big-text h2 {
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 2px;
}
.big-text p {
    color: #000000;
    opacity: 50%;
    font-size: 20px;
    font-weight: normal;
}

/* get it touch section */

#get-touch-section {
    margin: 0 150px;
}
.get-touch-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0;
}


.get-touch-text p {
    font-size: 97px;
    font-weight: bold;
    width: 528px;
    height: 232px;
}
.get-touch-form {
    width: 497px;
    height: 490px;
}

.get-touch-form form {
    display: flex;
    flex-direction: column;
}
.get-touch-form label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}
.get-touch-form input,textarea {
    margin-bottom: 19px;
    padding: 20px 32px;
    font-size: 20px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
}


/* footer */

footer {
    border: none;
    border-top: 1px solid #D6DDED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.footer-design {
    width: 531px;
    padding: 80px 0;
    text-align: center;
}

.footer-logo h1 {
    font-size: 120px;
    font-weight: black;
    color: #4E47FF;
    margin-bottom: 20px;
}
.footer-logo p {
    color: #252432;
    opacity: 50%;
    margin-bottom: 24px;
}

.footer-items a {
    text-decoration: none;
    color: #252432;
    opacity: 50%;
}
.footer-items ul {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}


/* user feedback style */

.feedback-info {
    padding: 150px 150px;
    /* color: #252432; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feedback-info h2 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
}

.feedback-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.f-title h3 {
    font-size: 24px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 8px;
}
.f-title p {
    font-size: 18px;
    color: #252432;
    opacity: 90%;
    margin-bottom: 8px;
}

.